
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color:white;
    font-family: 'Raleway', sans-serif;
    color:black;
}
.containeri{
   height: 45vh;
   background-image: url(../assets/achiev-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}
.heading{
    font-size: 60px;
    color: white;
    margin-left: 6vw;
    padding-top: 5vh;
}
.cards{
    position: absolute;
 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    width: 100vw;
    
    bottom: -70px;
}
.box{
    background-color:white;
    border-radius: 15px;
    color: rgb(79, 15, 230);
    height: 25vh;
    width: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vw 6vw;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.box:hover{
    background-color: rgb(238, 234, 247);
    color: black;
    transform: scale(1.2); /* Increase the size of the box by 10% */
    transition: all 0.2s ease-in-out; /* Add a smooth transition effect */
  }

.card_head{
    font-size: 18px;
    padding: 20px;
}
.card_no{
    font-size: 55px;
}

@media screen and (max-width: 900px) {
    .card_no{
        font-size:20px;
      }
    .card_head{
        padding:5px;
    }
    .box{
        margin: 1vw 0vw;
        /* justify-content: center; */
    }
}

.container_content{
    
    margin: 9vh 6vw;
    
    
}
.box2{
    display: flex;
    color: rgb(79, 15, 230);
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.box2:hover{
    background-color: white;
    color: black;
    font-weight: bold;
    transform: scale(1.1); /* Increase the size of the box by 10% */
    transition: all 0.2s ease-in-out; /* Add a smooth transition effect */
}
.right{
    justify-content: right;
}
.left{
    justify-content: left;
}
.content_title{
    font-size: 2rem;
   
    
}
.box_content{
    margin:2vh 11vw;
    
}
.ct1{
    text-align: right;
    margin-right: 15vw;
}
.bc1{
    margin-right: 1vw;
}
.bc2{
    margin-left: 3vw;
}
.ct2{
    text-align: left;
    margin-left: 15vw;
}
.complogos{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 60vw;
}
/* @media (max-width: 768px) {
     styles for screens with a maximum width of 768px
    .containeri {
      height: 100vh;
    }
    .heading {
      font-size: 40px;
    }
    .cards {
      flex-wrap: wrap;
    }
    .box {
      width: 45%;
      margin: 1vw 2.5vw;
    }
    .box2 {
      flex-direction: column;
    }
    .left, .right {
      text-align: center;
    }
    .content_title {
      font-size: 1.5rem;
    }
    .complogos {
      width: 90%;
    }
  }
*/