
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 13vh;
    width: 100%;
    padding: 1.2rem 2rem;
    display: flex;
    justify-content: space-between;
    background-color: #1E1E1E;
    /* box-shadow: 0 -14px 25px 50px #1e1e1e; */
    background: linear-gradient(270deg, #0C0638 0%, #0F093D 13.05%, #140F46 27.25%, #151049 41.74%, #110C42 55.5%, #0C0537 74.74%, #0C0536 100%);
    color: white;
    overflow: hidden;
    align-items: center;
    position: relative;
}

header div {
    display: flex;
    align-items: center;
}

header div ul {
    display: flex;
    list-style: none;
}

header div ul li{
    margin: 0 1.1rem;
    padding: 0.6rem 2rem;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

header div ul li:hover{
    background-color: #5858AF;
    border-radius: 1.5rem;
}

header div ul li:hover{
    transition: 0.3s ease-in-out;
    background-color: #5858AF;
    border-radius: 1.5rem;
}

.footerli:hover{
    transition: 0.3s ease-in-out;
    background-color: #5858AF;
    border-radius: 1.5rem;
    padding:5px;
}

#mobile {
    display: none;
}

.footer {
    background-image: url(../assets/footimg.jpg);
    opacity: 10;
    height: 1%;
    color: white;
}

.footer .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;

    margin: 2rem 0;
    padding: 2rem 0;
    margin-top: 0;
}

.footer .content {
    margin: 2rem 5rem;
    display: inline-flex;
    /* width: 100vw; */
    width: 89vw;
    justify-content:space-evenly;
}

.footer .content .important{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer .content .important h4{
    margin-bottom: 10px;
}

.footer .content hr {
    /* padding: 3px; */
    margin-left: 65px;

}

.footer .content .contact div {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.footer .content .contact div i {
    margin-right:  10px ;
}

.footer .socialmd {
    text-align: center;
    color: white;
    padding-bottom: 30px;
}

.footer .socialmd a {
    font-size: 1.5rem;
    color: white;

}

.footer .socialmd a i {
    width: 3rem;
    height: 3rem;
    margin: 2px 8px;
    /* padding-top: 0.5rem; */
    padding: 0.65rem;
    border: 2px solid #fff;
    border-radius: 100%;
    transition: all 265ms ease-out;
}

@media screen and ( max-width:1100px ){
    header ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 200px;
        right: -400px;
        width: 300px;
        height: 100vh;
        background-color: #1E1E1E;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.65);
        padding: 40px 0 0 10px;
        z-index: 2;
    }

    header ul.active {
        right: 0px;
    }

    header ul li {
        margin-bottom: 25px;
    }

    #mobile {
        display: block;
    }

    #mobile i {
        font-size: 100px;
        cursor: pointer;
    }

    .footer .heading{
        margin-bottom: 0;
    }

    .footer h4 {
        text-align: center;
    }

    .footer hr {
        display: none;
    }

    .footer .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .footer .content>div {
        margin: 20px 0;
    }

}

