@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.hh{
    background-color: rgba(3, 3, 36, 0);
    margin: 0%;
    color: aliceblue;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 50px;
}
.globe{
    height: 50%;
    margin-right: 0%;
    padding: 10%;
}
.bodyN {
  margin: 0;
  background-color: rgb(3, 3, 36);
}
element{
  width: 800px;
}
.alumnislider{
  background-color: rgb(3, 3, 36);
  display: grid;
  place-items: center;
}
.containerg{
  margin: auto;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  
}
.slide-container{
  display: flex;
  width: calc(250px*18);
  animation: scroll 20s linear infinite;
}
@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px*9));
  }
}
.slide-image{
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;

}

.slide-image:hover{
  transform: scale(1.1); /* Increase the size of the box by 10% */
  transition: all 0.2s ease-in-out; /* Add a smooth transition effect */
}

.imgg{
  width: 100%;
  transition: transform 1s;
}
.imgg:hover{
  transform: translateZ(20px);
}
